<div class="container">
  <div class="row m-3">
    <div class="col">
      <form [formGroup]="registerForm" (ngSubmit)="OnSubmit()">
        <div class="form-group mb-2">
          <label for="name"><strong>First Name:</strong></label>
          <input
            class="form-control my-2"
            type="text"
            id="fname"
            name="fname"
            formControlName="fname"
          />
          <p
            *ngIf="
              !registerForm.get('fname')?.valid &&
              registerForm.get('fname')?.touched
            "
          >
            Enter valid First Name!
          </p>
        </div>
        <div class="form-group mb-2">
          <label for="name"><strong>Last Name:</strong></label>
          <input
            class="form-control my-2"
            type="text"
            id="lname"
            name="lname"
            formControlName="lname"
          />
          <p
            *ngIf="
              !registerForm.get('lname')?.valid &&
              registerForm.get('lname')?.touched
            "
          >
            Enter valid Last Name!
          </p>
        </div>
        <div class="form-group mb-2">
          <label for="email"><strong>Email:</strong></label>
          <input
            class="form-control my-2"
            type="email"
            id="email"
            name="email"
            formControlName="email"
          />
          <p
            *ngIf="
              !registerForm.get('email')?.valid &&
              registerForm.get('email')?.touched
            "
          >
            Enter valid Email!
          </p>
        </div>
        <div class="form-group mb-2">
          <label for="gender"><strong>Gender :</strong></label>
          <div
            class="form-check form-check-inline"
            *ngFor="let gender of genders"
          >
            <input
              type="radio"
              id="{{ gender }}"
              name="gender"
              [value]="gender"
              class="form-check-input m-1"
              formControlName="gender"
            />
            <label class="form-check-label" for="{{ gender }}">{{
              gender
            }}</label>
          </div>
        </div>
        <div class="form-group mb-2">
          <label for="married"><strong>Married:</strong></label>
          <input
            class="m-2"
            type="checkbox"
            id="married"
            name="married"
            formControlName="married"
          />
        </div>
        <div class="form-group mb-2">
          <label for="country"><strong>Country:</strong></label>
          <select
            class="form-control my-2"
            id="country"
            name="country"
            formControlName="country"
          >
            <option value="india">India</option>
            <option value="uk">UK</option>
            <option value="usa">USA</option>
            <option value="canada">Canada</option>
            <option value="mexico">Mexico</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <button
            class="btn btn-primary my-3"
            type="submit"
            [disabled]="registerForm.invalid"
          >
            Submit
          </button>
          <button class="btn btn-dark m-3" (click)="onReset()">Reset</button>
        </div>
      </form>
    </div>
  </div>
</div>
